<!DOCTYPE html> 
<!doctype html>
        <html>
        <head>
            <link href="./style.css" rel="stylesheet">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        </head>
        <body>
            <div class="header">
                <div class="title">
                    Gitlab GuestBook : Cloud Summit 19 Seoul
                </div>
            </div>
        <% value.forEach((item)=>{%> 
            <div class="col-md-3">
                    <div class="panel widget">
                        <div class="widget-header bg-purple">
                            <img class="widget-bg img-responsive" src="https://picsum.photos/300/200?random=<%=item.iid%>" alt="Image">
                        </div>
                        <div class="widget-body text-center">
                            <img alt="Profile Picture" class="widget-img img-circle img-border-light" src="<%=item.author.avatar_url%>">
                            <h4 class="mar-no"><%=item.title%></h4>
                            <p class="text-muted mar-btm"><%=item.description%></p>
                            <a class="text-user" href="<%=item.author.web_url%>">
                                    @<%=item.author.name%>
                            </a>
                        </div>
                    </div>
                </div>
        <%});%> 
</body> 
  
</html> 